@import './base.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mobile-view {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  
  overflow-x: hidden;
  
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  width: 375px; 
  margin: 0 auto; /* Centers the mobile view on larger screens */
  height: 100vh;
  overflow-y: auto; /* Allow vertical scrolling if needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: to create a mobile frame effect */
}

@media (max-width: 375px) {
  .mobile-view {
    width: 100%; /* Ensures that on small screens the width is responsive */
  }

}

/* LIST FONT FAMILY */

@font-face {
  font-family: "KyivType";
  font-style: normal;
  src: url("@/assets/fonts/KyivTypeSansRegular-.otf") format("opentype");
}

.custom-font-kyiv {
  font-family: "KyivType";
}